@import '../libraries/polyui/polyui.css';
@import '../libraries/font-awesome/css/all.min.css';
@import '../libraries/quill/quill.core.css';
@import '../libraries/quill/quill.snow.css';
@import 'style.css';

:root {
  --colorprimary: #fff;
  --colorsecondary: #aaa;
  --iconcolor: #666;
  --bgcolor: #000;
}

body {
  color: var(--colorprimary);
  background: var(--bgcolor);
}
.grid > .grid__col--12 > h1 {
  color: var(--colorprimary);
}
body > input {
  color: var(--colorprimary);
  background: transparent;
}
button {
  border: 0;
  background: transparent;
}

/* menu */
.menuicon {
  color: #ff4343;
}
.menuicon.opened {
  color: var(--colorprimary);
}

/* notes */
.ql-toolbar {
  background: #fff;
}
.ql-toolbar.ql-snow {
  border-color: #5f5c4b;
}
.h1 {
  color: #3aff22;
}
.totalnotes {
  color: var(--colorsecondary);
}
.list {
  border-top: 1px solid var(--colorsecondary);
}
.list > li {
  border-bottom: 1px solid var(--colorsecondary);
}
.dialog, .note.opened {
  background: var(--bgcolor);
}
.notebtns button.active:nth-child(1) {
  color: #21c5c0;
}
.notebtns button.active:nth-child(2) {
  color: #389b3c;
}
button.icon {
  color: var(--colorprimary);
}

/* scratchpad */
.scratchpad {
  background: #25251b;
  border: 1px solid #5f5c4b;
}